DATABASE_URL=postgresql://antonio@localhost:5432/votu
JWT_SECRET=change_me_in_production
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=change_me_in_production
REFRESH_TOKEN_EXPIRES_IN=30d
REDIS_URL=redis://localhost:6379
AVATAR_URL_ALLOWLIST=https://avatars.githubusercontent.com,https://lh3.googleusercontent.com
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:3001
