# Dependencies
node_modules/

# Build outputs
dist/
build/
.output/
.nuxt/
.nitro/
.cache/

# Environment files
.env
.env.*
!.env.example
!**/.env.example

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test coverage
coverage/
.nyc_output/

# OS
.DS_Store

# IDEs
.idea/
.vscode/settings.json
*.sublime-workspace
.fleet/
